<div class="table-responsive">
  <table id="users" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
</table>
</div>
