<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Marce">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

    <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Ticketing System</a>
      </div>
      <ul class="nav navbar-nav">
        <%= if !logged_in?(@conn) do %>
          <li><%= link "Login", to: session_path(@conn, :new) %></li>
          <li>  <%= link "Register", to: registration_path(@conn, :new) %></li>
        <% end %>
        <%= if logged_in?(@conn) do %>
          <li>  <%= link "Logout", to: session_path(@conn, :delete, get_authenticated_user_id(@conn)), method: :delete  %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="container my-custom-container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
